# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
step3/node_modules

# testing
step3/coverage

# production
step3/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
step3/.idea/
/.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*
